<!DOCTYPE html>
 <!--[if IE 7]> <html lang="en" class="ie7"> </html><![endif]-->  
 <!--[if IE 8]> <html lang="en" class="ie8"> </html><![endif]-->  
 <!--[if IE 9]> <html lang="en" class="ie9"> </html><![endif]-->  
 <!--[if !IE]><!-->  <html lang="en">  <!--<![endif]-->  
 <head>
     <title>Θέλω να ξέρω</title>

     <!-- Meta -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="description" content="" />

     <!-- CSS -->
     <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="../assets/css/style.css" />
     <link rel="stylesheet" href="../assets/css/menu/style-menu.css" />
     <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-responsive.min.css" />
     <link rel="stylesheet" href="../assets/css/style_responsive.css" />
     <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.css" />
          <link rel="stylesheet" href="../assets/css/votenumber.css" />

 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>   

 <body>
 <!--=== Top ===-->    
 <div id="top">
     <div class="container">            
        {% if user %}
            <ul class="inline pull-right">
                <li>{{user.username}},</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}
            <ul id="loginbar" class="pull-right">  
                <li class="devider">&nbsp; </li>
                <li><a href="/registration" class="login-btn">Εγγραφή </a></li>    
                <li class="devider">&nbsp; </li>
                <li><a href="/login" class="login-btn">Είσοδος </a></li>   
            </ul>
        {% endif %}
     </div>     
 </div><!--/top-->

 <!--=== Header ===-->
 <div id="header">              
     <div class="container">    
         <!-- Logo -->      
         <div id="logo">                                                
             <a href="/"><img src="../assets/img/logo.jpg" alt="Logo" /></a>
         </div><!-- /logo -->       
                                    
         <!-- Menu -->      
         <div class="navbar">                               
             <div class="navbar-inner">                                 
                 <ul class="nav top-2">
                     <li><a href="/">Αρχική</a></li>
                     <li><a href="/questions">Ερωτήσεις</a></li>
                     <li><a href="/applications">Εφαρμογές</a></li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Πληροφορίες<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/aboutus">Ποιοι είμαστε;</a></li>
                            <li><a href="/opendata">Ανοιχτά δεδομένα</a></li>
                            <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                            <li><a href="/statistics">Στατιστικά</a></li>
                        </ul>
                        <b class="caret-out"></b>
                     </li>
                    <li><a href="/contact">Επικοινωνία</a></li>
                 </ul>
             </div><!-- /navbar-inner -->
         </div><!-- /navbar -->                         

     </div><!-- /container -->              
 </div><!-- /header -->     

 <!--=== Content part ===-->
 <div id="body">
     <div class="breadcrumbs margin-bottom-50">
         <div class="container">
             
             <p><button onclick="window.location.href='/askaquestion'" class="btn-u-large pull-right">Κάνε ερώτηση </button></p>          
             
             
         </div><!--/container-->
     </div><!--/breadcrumbs-->

	 <div class="container">
         <div class="row">
            
            <form action="/searchquestion" method="post" class="form-inline pull-right">
                <div class="input-append pull-right">
                    <input type="text" required name="keyword" class="span3" />
                    <button type="submit" name = "findquestionbutton" value="active" class="btn-u"><i class="icon-search"></i> Ψάξε </button>
                </div>
            </form>
            
        </div>

		 <div class="row">
             <div class="span9">
                            {% for question in questions %}
                                <div class="container box span8">
                                    <div class="span1">
                                        <div class="questionnumber"><p>{{question.votes}}</p></div>
                                    </div>
                                    <div class="span6">
                                        <a href="/questions/{{question.key().id()}}"><h4>{{question.title[:90]}}</h4></a>
                                    </div>
                                    <div class="span6">
                                        <p>Κατηγορία: 
                                            {% for tag in question.tags %}
                                                 <a href="/category/{{tag}}"><span class="label label-success">{{tag}}</span></a>  
                                            {% endfor %}   
                                            | <i class="icon-calendar color-green"></i> {{question.date}}
                                            | <i class="icon-comment color-green"></i> <a href="/questions/{{question.key().id()}}">{{question.numanswers}} απαντήσεις</a>
                                            <span class="pull-right"><i class="icon-user color-green"></i>Από: {{question.author}}  </span>
                                        </p> 
                                    </div>
                                </div>
                                <hr>                   
                            {% endfor %}

                 
			 </div><!--/span9-->
            
			 <div class="span3">
                 
            	 <!-- Contacts -->
                 <div class="box text-center"><div class="headline"><a href="/questions"><h3>Ερωτήσεις: {{allquestions}}</h3></a></div><div class="headline"><h3>Απαντήσεις: {{allanswers}}</h3></div><div class="headline"><h3>Χρήστες: {{allusers}}</h3></div> </div>
                 <div class="box text-center"><h4>Μάθετε περισσότερα για τα ανοιχτά δεδομένα</h4><button type="submit" onclick=window.location.href="/opendata" class="btn-u"><i class="icon-cloud"></i> Ανοιχτά δεδομένα </button></div>
                 <div class="box text-center"><div class="headline"><h3>Κατηγορίες: </h3></div>
                 {% for tag in tags %}
                    <ul class="unstyled">
                        <li><a href="/category/{{tag}}"><span class="label label-success">{{tag}}</span></a> x {{tags[tag]}}</li>
                    </ul>
                 {% endfor %}
                </div>

             </div><!--/span3-->
            		
         </div><!--/row-fluid-->
	 </div><!--/container-->		
 </div><!--/body-->

 <!--=== Footer ===-->
 <div class="footer">
     <div class="container">

         <div class="row-fluid">

            <div class="span4">
                 <div class="headline"><h3>Πληροφορίες </h3></div>   
                 <ul class="unstyled">
                     <li><a href="/aboutus">Ποιοί Είμαστε;</a></li>
                     <li><a href="/applications">Εφαρμογές για ανοιχτά δεδομένα</a></li>
                     <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                     <li><a href="/opendata">Ανοιχτά Δεδομένα</a></li>
                     <li><a href="/statistics">Στατιστικά</a></li>
                 </ul>
             </div><!--/span4-->
             <div class="span4">      
                 <!-- Newsletter -->
                 <div class="headline"><h3>Newsletter </h3></div>   
                 <p>Κάντε εγγραφή στο Newsletter και μάθετε πρώτοι τα νέα μας </p>
                 <form action="/newsletter" method="post" class="form-inline" />
                     <div class="input-append">
                         <input type="email" placeholder="Email Address" class="span8 border-radius-none" name="email" />
                         <button class="btn-u">Εγγραφή </button>
                     </div>
                 </form>                            
             </div>

             <div class="span4">
                 <ul class="unstyled">
                    <li><a href="http://gr.okfn.org"><img src="../assets/img/okflogo.png"/></a></li>
                     <li><p>An Open Knowledge Foundation Greece project.</p></li>
                     <li><p>© 2013 want2know</li>
                     <li><!-- Open Knowledge Link -->
                        <a href="http://opendefinition.org/">
                        <img alt="This material is Open Knowledge" border="0"
                        src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" /></a>
                        <!-- /Open Knowledge Link --><!-- Open Content Link -->
<a href="http://opendefinition.org/">
  <img alt="This material is Open Content" border="0"
  src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" />
</a>
<!-- /Open Content Link -->
</li>

                 </ul>
             </div><!--/span4-->
         </div><!--/row-fluid-->    

     </div><!--/container-->    
 </div><!--/footer-->   

 <!--=== copyright ===-->
 <div class="copyright">
     <div class="container">

         <div class="row-fluid">
             <div class="span8">                        
                <p>2013 &copy; want2know <a href="/privacy">Privacy Policy </a> |  <a href="/termsofuse">Terms of use </a></p>             
             </div>
             
         </div><!--/row-fluid-->

     </div><!--/container-->    
 </div><!--/copyright-->    

 <!-- JS and jQuery -->         
 <script type="text/javascript" src="../assets/js/jquery-1.8.2.min.js"></script>
 <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script> 
 <!--[if lt IE 9]>
    <script src="../assets/js/respond.js"></script>
<![endif]-->        
       
 </body>
 </html>     