<!DOCTYPE html>
 <!--[if IE 7]> <html lang="en" class="ie7"> </html><![endif]-->  
 <!--[if IE 8]> <html lang="en" class="ie8"> </html><![endif]-->  
 <!--[if IE 9]> <html lang="en" class="ie9"> </html><![endif]-->  
 <!--[if !IE]><!-->  <html lang="en">  <!--<![endif]-->  
 <head>
     <title>Θέλω να ξέρω</title>

     <!-- Meta -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="description" content="" />

     <!-- CSS -->
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="./assets/css/style.css" />
     <link rel="stylesheet" href="./assets/css/menu/style-menu.css" />
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-responsive.min.css" />
     <link rel="stylesheet" href="./assets/css/style_responsive.css" />
     <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>   

 <body>
 <!--=== Top ===-->    
 <div id="top">
     <div class="container">            
        {% if user %}
            <ul class="inline pull-right">
                <li>{{user.username}},</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}
            <ul id="loginbar" class="pull-right">  
                <li class="devider">&nbsp; </li>
                <li><a href="/registration" class="login-btn">Εγγραφή </a></li>    
                <li class="devider">&nbsp; </li>
                <li><a href="/login" class="login-btn">Είσοδος </a></li>   
            </ul>
        {% endif %}
     </div>     
 </div><!--/top-->

 <!--=== Header ===-->
 <div id="header">              
     <div class="container">    
         <!-- Logo -->      
         <div id="logo">                                                
             <a href="/"><img src="./assets/img/logo.jpg" alt="Logo" /></a>
         </div><!-- /logo -->       
                                    
         <!-- Menu -->      
         <div class="navbar">                               
             <div class="navbar-inner">                                 
                 <ul class="nav top-2">
                     <li><a href="/">Αρχική</a></li>
                     <li><a href="/questions">Ερωτήσεις</a></li>
                     <li><a href="/applications">Εφαρμογές</a></li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Πληροφορίες<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/aboutus">Ποιοι είμαστε;</a></li>
                            <li><a href="/opendata">Ανοιχτά δεδομένα</a></li>
                            <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                            <li><a href="/statistics">Στατιστικά</a></li>
                        </ul>
                        <b class="caret-out"></b>
                     </li>
                    <li><a href="/contact">Επικοινωνία</a></li>
                 </ul>
             </div><!-- /navbar-inner -->
         </div><!-- /navbar -->                         

     </div><!-- /container -->              
 </div><!-- /header -->     

 <!--=== Content part ===-->
 <div id="body">
     <div class="breadcrumbs margin-bottom-50">
         <div class="container">
             
             <p><button onclick="window.location.href='/askaquestion'" class="btn-u-large pull-right">Κάνε ερώτηση </button></p>          
             
             
         </div><!--/container-->
     </div><!--/breadcrumbs-->

	 <div class="container">		
            <div class="headline"><h3>Συχνές Ερωτήσεις</h3></div>
            <div class="accordion acc-home margin-bottom-40" id="accordion2">
                     <div class="accordion-group">
                       <div class="accordion-heading">
                         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                          Τι μπορεί να μου προσφέρει το "Θέλω να ξέρω"
                         </a>
                       </div>
                       <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                         <div class="accordion-inner">
                           <p>Το θέλω να ξέρω είναι μία ιστοσελίδα ερωτήσεων και απαντήσεων που απευθείνεται σε απλούς πολίτες, προγραμματιστές, ερευνητές, πολιτικούς και δημοσιογράφους. Στόχος της είναι η προώθηση και απόκτηση της γνώσης μέσω των ανοιχτών δεδομένων στην Ελλάδα. Γνώση που αφορά τη διαφάνεια, την καλύτερη διακυβέρνηση, τον πολιτισμό και την καινοτομία. Με τη βοήθειά σας μπορούμε να δουλέψουμε και να αποκτήσουμε νέα πακέτα δεδομένων του δημόσιου τομέα που αφορούν όλους μας!</p>
                         </div>
                       </div>
                     </div><!--/accordion-group-->
                     <div class="accordion-group">
                       <div class="accordion-heading">
                         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                          Τι μπορώ να κάνω αν έχω δημιουργήσει μια δική μου εφαρμογή με ανοιχτά δεδομένα
                         </a>
                       </div>
                       <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                         <div class="accordion-inner">
                          Το "Θέλω να ξέρω" συγκεντρώνει όλες τις ελληνικές εφαρμογές που κάνουν χρήση ανοιχτών δεδομένων. Μπορείς να επικοινωνήσεις μαζί μας μέσω της επίσημης <a href="/contact">φόρμας επικοινωνίας</a> και επιλέγοντας στην κατηγορία "εφαρμογές" να μας στείλεις τη δική σου με όσες περισσότερες πληροφορίες γι'αυτήν μπορείς.
                         </div>
                       </div>
                     </div><!--/accordion-group-->
                     <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            Πως μπορώ να βοηθήσω στο έργο του "Θέλω να ξέρω"
                            </a>
                        </div>
                       <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                         <div class="accordion-inner">
                          Όσες περισσότερες ψήφους μαζεύει μία από τις ερωτήσεις, τόσο πιο εύκολο γίνεται για εμάς να προωθήσουμε το αίτημα ώστε να ανοίξουν τα συγκεκριμένα ανοιχτά δεδομένα. Ψηφίστε τα ανοιχτά δεδομένα που θα θέλατε να υπάρχουν στη διάθεσή σας και κοινοποιήστε τα στα κοινωνικά δίκτυα ώστε να τα ψηφίσουν ακόμη περισσότεροι.
                         </div>
                       </div>
                    </div>
                     <div class="accordion-group">
                       <div class="accordion-heading">
                         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            Βαθμολογία με αστέρια στις ερωτήσεις
                         </a>
                       </div>
                       <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                         <div class="accordion-inner">
                          Τα ανοιχτά δεδομένα κατηγοριοποιούνται με βάση το σχήμα των 5 αστέρων που πρότεινε ο Tim Berners-Lee, εφευρέτης του Παγκόσμιου Ιστού και των Συνδεδεμένων Δεδομένων. Αφού κάποιος χρήστης καταθέσει την πρόταση για τα ανοιχτά δεδομένα που θα ήθελε, ένας από τους διαχειριστές του "Θέλω να ξέρω" θα προσθέσει τα αστέρια το συντομότερο δυνατόν. 
                         </div>
                       </div>
                     </div><!--/accordion-group-->
                     <div class="accordion-group">
                       <div class="accordion-heading">
                         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                          Πρόβλημα με το λογαριασμό μου
                         </a>
                       </div>
                       <div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
                         <div class="accordion-inner">
                          Αν υπάρχει οποιοδήποτε πρόβλημα με το λογαριασμό ενός χρήστη, θα πρέπει να επικοινωνήσει μέσω της <a href="/contact">επίσημης φόρμας</a> επιλέγοντας την κατηγορία "τεχνικό πρόβλημα" και ο διαχειριστής θα απαντήσει ώστε να βοηθήσει με την επίλυσή του.
                         </div>
                       </div>
                     </div><!--/accordion-group-->
                     <div class="accordion-group">
                       <div class="accordion-heading">
                         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                          Τι μπορώ να κάνω αν αντιλιφθώ κάποιον χρήστη να κάνει κατάχρηση της ιστοσελίδας
                         </a>
                       </div>
                       <div id="collapseSix" class="accordion-body collapse" style="height: 0px;">
                         <div class="accordion-inner">
                          Όπως κάθε ιστοσελίδα, έτσι και το "Θέλω να ξέρω" έχει τους δικούς  του όρους χρήστης. Οποιαδήποτε παρατυπία πέσει στην αντίληψή σας, μπορείτε να την αναφέρετε στους διαχειριστές της σελίδας μέσω της επίσημης  <a href="/contact">φόρμας επικοινωνάς</a>
                         </div>
                       </div>
                       
                     </div><!--/accordion-group-->
                 </div><!--/accardion-->

                 
	 </div><!--/container-->		
 </div><!--/body-->

 <!--=== Footer ===-->
 <div class="footer">
     <div class="container">

         <div class="row-fluid">

            <div class="span4">
                 <div class="headline"><h3>Πληροφορίες </h3></div>   
                 <ul class="unstyled">
                     <li><a href="/aboutus">Ποιοί Είμαστε;</a></li>
                     <li><a href="/applications">Εφαρμογές για ανοιχτά δεδομένα</a></li>
                     <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                     <li><a href="/opendata">Ανοιχτά Δεδομένα</a></li>
                     <li><a href="/statistics">Στατιστικά</a></li>
                 </ul>
             </div><!--/span4-->
             <div class="span4">      
                 <!-- Newsletter -->
                 <div class="headline"><h3>Newsletter </h3></div>   
                 <p>Κάντε εγγραφή στο Newsletter και μάθετε πρώτοι τα νέα μας </p>
                 <form action="/newsletter" method="post" class="form-inline" />
                     <div class="input-append">
                         <input type="email" placeholder="Email Address" class="span8 border-radius-none" name="email" />
                         <button class="btn-u">Εγγραφή </button>
                     </div>
                 </form>                            
             </div>

             <div class="span4">
                 <ul class="unstyled">
                    <li><a href="http://gr.okfn.org"><img src="./assets/img/okflogo.png"/></a></li>
                     <li><p>An Open Knowledge Foundation Greece project.</p></li>
                     <li><p>© 2013 want2know</li>
                     <li><!-- Open Knowledge Link -->
                        <a href="http://opendefinition.org/">
                        <img alt="This material is Open Knowledge" border="0"
                        src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" /></a>
                        <!-- /Open Knowledge Link --><!-- Open Content Link -->
<a href="http://opendefinition.org/">
  <img alt="This material is Open Content" border="0"
  src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" />
</a>
<!-- /Open Content Link -->
</li>

                 </ul>
             </div><!--/span4-->
         </div><!--/row-fluid-->    

     </div><!--/container-->    
 </div><!--/footer-->   

 <!--=== copyright ===-->
 <div class="copyright">
     <div class="container">

         <div class="row-fluid">
             <div class="span8">                        
                <p>2013 &copy; want2know <a href="/privacy">Privacy Policy </a> |  <a href="/termsofuse">Terms of use </a></p>             
             </div>
             
         </div><!--/row-fluid-->

     </div><!--/container-->    
 </div><!--/copyright-->       

 <!-- JS and jQuery -->         
  <script type="text/javascript" src="./assets/js/jquery-1.8.2.min.js"></script>
 <script type="text/javascript" src="./assets/bootstrap/js/bootstrap.min.js"></script> 
 <!--[if lt IE 9]>
    <script src="./assets/js/respond.js"></script>
<![endif]-->        
     
 </body>
 </html>     