<!DOCTYPE html>
 <!--[if IE 7]> <html lang="en" class="ie7"> </html><![endif]-->  
 <!--[if IE 8]> <html lang="en" class="ie8"> </html><![endif]-->  
 <!--[if IE 9]> <html lang="en" class="ie9"> </html><![endif]-->  
 <!--[if !IE]><!-->  <html lang="en">  <!--<![endif]-->  
 <head>
     <title>Θέλω να ξέρω</title>

     <!-- Meta -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="description" content="" />

     <!-- CSS -->
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="./assets/css/style.css" />
     <link rel="stylesheet" href="./assets/css/menu/style-menu.css" />
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-responsive.min.css" />
     <link rel="stylesheet" href="./assets/css/style_responsive.css" />
     <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>   

 <body>
 <!--=== Top ===-->    
 <div id="top">
     <div class="container">            
        {% if user %}
            <ul class="inline pull-right">
                <li>{{user.username}},</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}
            <ul id="loginbar" class="pull-right">  
                <li class="devider">&nbsp; </li>
                <li><a href="/registration" class="login-btn">Εγγραφή </a></li>    
                <li class="devider">&nbsp; </li>
                <li><a href="/login" class="login-btn">Είσοδος </a></li>   
            </ul>
        {% endif %}
     </div>     
 </div><!--/top-->

 <!--=== Header ===-->
 <div id="header">              
     <div class="container">    
         <!-- Logo -->      
         <div id="logo">                                                
             <a href="/"><img src="./assets/img/logo.jpg" alt="Logo" /></a>
         </div><!-- /logo -->       
                                    
         <!-- Menu -->      
         <div class="navbar">                               
             <div class="navbar-inner">                                 
                 <ul class="nav top-2">
                     <li><a href="/">Αρχική</a></li>
                     <li><a href="/questions">Ερωτήσεις</a></li>
                     <li><a href="/applications">Εφαρμογές</a></li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Πληροφορίες<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/aboutus">Ποιοι είμαστε;</a></li>
                            <li><a href="/opendata">Ανοιχτά δεδομένα</a></li>
                            <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                            <li><a href="/statistics">Στατιστικά</a></li>
                        </ul>
                        <b class="caret-out"></b>
                     </li>
                    <li><a href="/contact">Επικοινωνία</a></li>
                 </ul>
             </div><!-- /navbar-inner -->
         </div><!-- /navbar -->                         

     </div><!-- /container -->              
 </div><!-- /header -->     

 <!--=== Content part ===-->
 <div id="body">
     <div class="breadcrumbs margin-bottom-50">
         <div class="container">
             
             <p><button onclick="window.location.href='/askaquestion'" class="btn-u-large pull-right">Κάνε ερώτηση </button></p>          
             
             
         </div><!--/container-->
     </div><!--/breadcrumbs-->

	 <div class="container">		
            <h2>Τι είναι  «Ανοιχτά Δεδομένα»;</h2>
            <p>Ανοιχτά είναι τα δεδομένα που μπορούν ελεύθερα να χρησιμοποιηθούν, να επαναχρησιμοποιηθούν και να αναδιανεμηθούν από οποιονδήποτε – υπό τον όρο να γίνεται αναφορά στους δημιουργούς και να διατίθενται, με τη σειρά τους, υπό τους ίδιους όρους.</p>

            <p>Η έννοια των «Ανοιχτών Δεδομένων» έχει επικρατήσει τα τελευταία χρόνια. Το 2009, τα Ανοιχτά Δεδομένα άρχισαν να αναδεικνύονται, με πολλές κυβερνήσεις  να ανακοινώνουν τις πρωτοβουλίες τους προς την κατεύθυνση του «ανοίγματος» των δημοσίων πληροφοριών.</p>

            <p>Τα ανοιχτά δεδομένα πρέπει:</p>
                <ul>
                    <li>Να έχουν Διαθεσιμότητα και Προσβασιμότητα: Τα δεδομένα πρέπει να είναι διαθέσιμα αυτούσια, να έχουν ένα λογικό κόστος αναπαραγωγής, και κατά προτίμηση να είναι διαθέσιμα για λήψη από το Διαδίκτυο. Επίσης, πρέπει να είναι διαθέσιμα σε κάποια μορφή πρακτικά αναγνώσιμη.</li>
                    <li>Να έχουν Καθολική Συμμετοχή: Καθένας πρέπει να μπορεί να χρησιμοποιήσει, να επαναχρησιμοποιήσει και να αναδιανείμει τα δεδομένα. Δεν πρέπει αυτά να υπόκεινται σε διακρίσεις με βάση τον τομέα δραστηριότητας ή τα πρόσωπα και τις ομάδες. Για παράδειγμα, περιορισμοί για «μη-εμπορική ή χρήση» ή περιορισμοί για χρήση μόνο για συγκεκριμένους σκοπούς (π.χ. μόνο στην εκπαίδευση) δεν είναι επιτρεπτοί.</li>
                </ul>
            <p><a href="http://opendefinition.org/okd/"><u>Για τον πλήρη ορισμό στα αγγλικά διαβάστε εδώ</u></a></p>
            <div class="span6">
            <h2>Γιατί χρειαζόμαστε τα «Ανοιχτά Δεδομένα»;</h2>
            <p>Συνοψίζοντας οι λόγοι για τους οποίους χρειαζόμαστε τα «Ανοιχτά Δεδομένα»  είναι οι εξής:</p>
            <ul>
                <li>Διαφάνεια και δημοκρατικός έλεγχος</li>
                <li>Συμμετοχή</li>
                <li>Αυτό-ενδυνάμωση</li>
                <li>Βελτιστοποίηση νέων ιδιωτικών προϊόντων και υπηρεσιών</li>
                <li>Καινοτομία</li>
                <li>Βελτιωμένη αποδοτικότητα των κυβερνητικών υπηρεσιών</li>
                <li>Βελτιωμένη αποτελεσματικότητα των κυβερνητικών υπηρεσιών</li>
                <li>Μέτρηση του αντίκτυπου των πολιτικών που εφαρμόζονται</li>
                <li>Νέα γνώση από συνδυασμό διαφορετικών πηγών σε μεγάλους όγκους δεδομένων</li>
            </ul>
            </div>
            <div class="span5 pull-right">
                <img src="./assets/img/data-types.png">
            </div>


                 
	 </div><!--/container-->		
 </div><!--/body-->

 <!--=== Footer ===-->
 <div class="footer">
     <div class="container">

         <div class="row-fluid">

            <div class="span4">
                 <div class="headline"><h3>Πληροφορίες </h3></div>   
                 <ul class="unstyled">
                     <li><a href="/aboutus">Ποιοί Είμαστε;</a></li>
                     <li><a href="/applications">Εφαρμογές για ανοιχτά δεδομένα</a></li>
                     <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                     <li><a href="/opendata">Ανοιχτά Δεδομένα</a></li>
                     <li><a href="/statistics">Στατιστικά</a></li>
                 </ul>
             </div><!--/span4-->
             <div class="span4">      
                 <!-- Newsletter -->
                 <div class="headline"><h3>Newsletter </h3></div>   
                 <p>Κάντε εγγραφή στο Newsletter και μάθετε πρώτοι τα νέα μας </p>
                 <form action="/newsletter" method="post" class="form-inline" />
                     <div class="input-append">
                         <input type="email" placeholder="Email Address" class="span8 border-radius-none" name="email" />
                         <button class="btn-u">Εγγραφή </button>
                     </div>
                 </form>                            
             </div>

             <div class="span4">
                 <ul class="unstyled">
                    <li><a href="http://gr.okfn.org"><img src="./assets/img/okflogo.png"/></a></li>
                     <li><p>An Open Knowledge Foundation Greece project.</p></li>
                     <li><p>© 2013 want2know</li>
                     <li><!-- Open Knowledge Link -->
                        <a href="http://opendefinition.org/">
                        <img alt="This material is Open Knowledge" border="0"
                        src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" /></a>
                        <!-- /Open Knowledge Link --><!-- Open Content Link -->
<a href="http://opendefinition.org/">
  <img alt="This material is Open Content" border="0"
  src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" />
</a>
<!-- /Open Content Link -->
</li>

                 </ul>
             </div><!--/span4-->
         </div><!--/row-fluid-->    

     </div><!--/container-->    
 </div><!--/footer-->   

 <!--=== copyright ===-->
 <div class="copyright">
     <div class="container">

         <div class="row-fluid">
             <div class="span8">                        
                <p>2013 &copy; want2know <a href="/privacy">Privacy Policy </a> |  <a href="/termsofuse">Terms of use </a></p>             
             </div>
             
         </div><!--/row-fluid-->

     </div><!--/container-->    
 </div><!--/copyright-->       

 <!-- JS and jQuery -->         
  <script type="text/javascript" src="./assets/js/jquery-1.8.2.min.js"></script>
 <script type="text/javascript" src="./assets/bootstrap/js/bootstrap.min.js"></script> 
 <!--[if lt IE 9]>
    <script src="./assets/js/respond.js"></script>
<![endif]-->        
     
 </body>
 </html>     