<!DOCTYPE html>
 <!--[if IE 7]> <html lang="en" class="ie7"> </html><![endif]-->  
 <!--[if IE 8]> <html lang="en" class="ie8"> </html><![endif]-->  
 <!--[if IE 9]> <html lang="en" class="ie9"> </html><![endif]-->  
 <!--[if !IE]><!-->  <html lang="en">  <!--<![endif]-->  
 <head>
     <title>Θέλω να ξέρω</title>

     <!-- Meta -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="description" content="" />

     <!-- CSS -->
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="./assets/css/style.css" />
     <link rel="stylesheet" href="./assets/css/menu/style-menu.css" />
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-responsive.min.css" />
     <link rel="stylesheet" href="./assets/css/style_responsive.css" />
     <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>   

 <body>
 <!--=== Top ===-->    
 <div id="top">
     <div class="container">            
        {% if user %}
            <ul class="inline pull-right">
                <li>{{user.username}},</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}
            <ul id="loginbar" class="pull-right">  
                <li class="devider">&nbsp; </li>
                <li><a href="/registration" class="login-btn">Εγγραφή </a></li>    
                <li class="devider">&nbsp; </li>
                <li><a href="/login" class="login-btn">Είσοδος </a></li>   
            </ul>
        {% endif %}
     </div>     
 </div><!--/top-->

 <!--=== Header ===-->
 <div id="header">              
     <div class="container">    
         <!-- Logo -->      
         <div id="logo">                                                
             <a href="/"><img src="./assets/img/logo.jpg" alt="Logo" /></a>
         </div><!-- /logo -->       
                                    
         <!-- Menu -->      
         <div class="navbar">                               
             <div class="navbar-inner">                                 
                 <ul class="nav top-2">
                     <li><a href="/">Αρχική</a></li>
                     <li><a href="/questions">Ερωτήσεις</a></li>
                     <li><a href="/applications">Εφαρμογές</a></li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Πληροφορίες<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/aboutus">Ποιοι είμαστε;</a></li>
                            <li><a href="/opendata">Ανοιχτά δεδομένα</a></li>
                            <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                            <li><a href="/statistics">Στατιστικά</a></li>
                        </ul>
                        <b class="caret-out"></b>
                     </li>
                    <li><a href="/contact">Επικοινωνία</a></li>
                 </ul>
             </div><!-- /navbar-inner -->
         </div><!-- /navbar -->                         

     </div><!-- /container -->              
 </div><!-- /header -->     

 <!--=== Content part ===-->
 <div id="body">
     <div class="breadcrumbs margin-bottom-50">
         <div class="container">
             
             <p><button onclick="window.location.href='/askaquestion'" class="btn-u-large pull-right">Κάνε ερώτηση </button></p>          
             
             
         </div><!--/container-->
     </div><!--/breadcrumbs-->

	 <div class="container">		
            <h2>Πολιτική Προστασίας Προσωπικών Δεδομένων:</h2>
            <p>Το «Θέλω να ξέρω» είναι ένας μη-κερδοσκοπικός οργανισμός. Η ιστοσελίδα δημιουργήθηκε από φοιτητές του Αριστοτελείου Πανεπιστημίου Θεσσαλονίκης, στα πλαίσια μίας εργασίας.</p>
            <br>
            <h2>Περίληψη:</h2> 
            <p>Τα δεδομένα σχετικά με εσάς που συλλέγει το «Θέλω να ξέρω» είναι τα ίδια που συλλέγουν οι περισσότερες ιστοσελίδες. Η πολιτική αυτή περιγράφει την προσέγγισή μας στα προσωπικά σας δεδομένα.</p>
            <p>Γενικά, χρησιμοποιούμε τις προσωπικές σας πληροφορίες για τον σκοπό που μας τις παρέχετε. Επίσης, χρησιμοποιούμε τα δεδομένα που συλλέγουμε από την ιστοσελίδα για να καταλάβουμε πώς τη χρησιμοποιείτε, με σκοπό να τη βελτιώνουμε συνεχώς και να σας προσφέρουμε νέες υπηρεσίες.</p>
            <p>Θα πρέπει να γνωρίζετε πως οτιδήποτε δημοσιεύετε στην ιστοσελίδα μας, όπως ερωτήσεις, απαντήσεις, σχόλια, σύνδεσμοι κλπ θα παραμένουν για πάντα εκεί και θα αποτελούν κομμάτι αυτής, εκτός από ελάχιστες περιπτώσεις. Οπότε σκεφτείτε πριν το δημοσιεύσετε.</p>
            <p>Σύμφωνα με τον Νόμο περί Προστασίας Δεδομένων, μπορείτε ανά πάσα στιγμή να ζητήσετε αντίγραφο των προσωπικών σας πληροφοριών που έχουμε (για το οποίο ενδέχεται να χρεωθείτε ένα μικρό ποσό για την αντιστάθμιση του κόστους διοίκησης μας) απλά γράφοντάς μας (βλ. παρακάτω).</p>
            <p>Αυτή η πολιτική απορρήτου θα επανεξεταστεί και ενδέχεται να αναθεωρηθεί, από στιγμή σε στιγμή. Οπότε, μπορείτε να ανατρέχετε συχνά σε αυτούς τους όρους.</p>
            <br>
            <h2>Πληροφορίες Υποστήριξης:</h2>
            <p>Εάν ενταχθήκατε στο δίκτυό μας, θα χρησιμοποιήσουμε τις πληροφορίες που μας δίνετε για να σας συνδέσουμε στα σωστά μέρη του δικτύου μας.</p>
            <p>Εάν εγγραφήκατε ως μέλος της κοινότητάς μας,(σας ευχαριστούμε που το κάνατε) εκτιμούμε την υποστήριξή σας. Ως μέλος της κοινότητας, θα μπορείτε να συμμετέχετε πιο ενεργά στις δραστηριότητές μας. Για να σας βοηθήσουμε να το κάνετε αυτό, θα χρησιμοποιήσουμε τα στοιχεία που μας παρέχετε. Ενδέχεται να χρησιμοποιήσουμε τα στοιχεία επικοινωνίας σας για να έρθουμε σε επαφή μαζί σας στο πλαίσιο της εν λόγω συμμετοχής.</p>
            <br>
            <h2>Δημόσια Δεδομένα και Δημοσίευση:</h2>
            <p>Η περιήγηση σας στην παρούσα ιστοσελίδα δεν αποκαλύπτει την ταυτότητά σας δημόσια. Για περισσότερες πληροφορίες δείτε την παράγραφο Ιδιωτικό Αρχείο παρακάτω σε αυτό το έγγραφο.</p>
            <br>
            <h2>Ταυτοποίηση των συγγραφέων:</h2>
            <p>Όταν πάτε να κάνετε ανάρτηση μίας ερώτησης ή ενός σχολίου, σας ζητείτε ένα όνομα και μία διεύθυνση ηλεκτρονικού ταχυδρομείου(e-mail). Δε χρειάζεται να δώσετε το πραγματικό σας όνομα και το κανονικό σας e-mail. Η διεύθυνση ηλεκτρονικού ταχυδρομείου σας δε θα δημοσιευθεί. Εάν ακόμη ανησυχείτε γι’αυτό μπορείτε να φτιάξετε έναν νέο λογαριασμό ηλεκτρονικού ταχυδρομείου εντελώς δωρεάν.</p>
            <p>Οποιαδήποτε ενέργεια στην ιστοσελίδα μας μπορεί να ταυτοποιηθεί από τη διεύθυνση IP του χρήστη. Οι αριθμοί αυτοί μπορούν να ταυτοποιήσουν τις προσωπικές σας πληροφορίες ,είτε πρόκειται για την υπηρεσία παροχής internet του σπιτιού σας ή του πανεπιστημίου σας ή του χώρου εργασίας σας. Η διεύθυνση IP σας μπορεί να χρησιμοποιηθεί σε συνδυασμό με άλλα στοιχεία για να σας εντοπίσει.</p>
            <p>Εάν ανησυχείτε για τις προσπάθειες εντοπισμού των στοιχείων σας μέσω της IP σας, μπορείτε να χρησιμοποιήσετε μια ανώνυμη υπηρεσία περιήγησης ή να επιχειρήσετε κάποια μέσα για να συσκοτίσουν την πραγματική διεύθυνση IP σας.</p>
            <p>Αν ισχύει κάτι τέτοιο, τότε δοκιμάστε το Tor, μια ανώνυμη υπηρεσία περιήγησης. Παρακαλώ δείτε στο <a href="http://tor.eff.org/">http://tor.eff.org/</a> για περισσότερες λεπτομέρειες.</p>
            <br>
            <h2>Διεύθυνση Ηλεκτρονικού Ταχυδρομείου(e-mail):</h2>
            <p>Εάν μας έχετε δώσει το e-mail σας, συμφωνείτε με το να στέλνουμε e-mail σε αυτή τη διεύθυνση, ώστε να σας παρέχουμε τις υπηρεσίες μας. Στην πράξη, αυτά τα e-mail αφορούν συνήθως σημαντικές αλλαγές σε υπηρεσίες που μπορείτε να εγγραφείτε.</p>
            <p>Εκτός από τα απαραίτητα e-mail που θα σας αποστέλλονται, μπορεί να επικοινωνούμε μαζί σας και για δικούς μας σκοπούς. Για παράδειγμα, μπορεί να σας ενημερώνουμε για νέες υπηρεσίες που σας προσφέρουμε. Κατανοούμε πως μπορεί να είναι ενοχλητικό το να λαμβάνεται συνεχώς ανεπιθύμητα e-mail. Θα προσπαθήσουμε να σας στέλνουμε μόνο εκείνα τα μηνύματα που είναι πιο κοντά στα ενδιαφέροντά σας.</p>
            <br>
            <h2>Cookies:</h2>
            <p>Η ιστοσελίδα μας χρησιμοποιεί συχνά cookies. Αυτό γίνεται για να ενεργοποιηθούν ορισμένες δυνατότητες της ιστοσελίδας. Αν θέλετε να μην αποκαλύψετε τον προσδιορισμό των πληροφοριών σας, ειδικά αν χρησιμοποιείτε ένα δημόσιο ή κοινόχρηστο υπολογιστή, τότε μπορείτε να καθαρίσετε αυτά τα cookies και την προσωρινή μνήμη του browser. Επίσης, μπορείτε να απενεργοποιήσετε τον browser σας από την αποδοχή cookies.</p>
            <br>
            <h2>Καταγραφή προσωπικών στοιχείων:</h2>
            <p>Κάθε φορά που επισκέπτεστε μια σελίδα στο διαδίκτυο, μπορεί να στέλνετε κάποιες πληροφορίες στο διακομιστή. Οι webservers που φιλοξενούν αυτό το site διατηρούν αρχεία πρόσβασης με τα στοιχεία που στέλνετε.  Αυτές οι πληροφορίες  χρησιμοποιούνται για να παρέχουν τα στατιστικά στοιχεία της ιστοσελίδας και να αναδείξουν τις πιο δημοφιλείς σελίδες. Εμείς δε σκοπεύουμε να χρησιμοποιήσουμε αυτά τα αρχεία καταγραφής για τον εντοπισμό των νόμιμων χρηστών.</p>
            <p>Γενικά, τα δεδομένα που καταγράφονται τα χρησιμοποιούμε για να επιλύουμε τεχνικά προβλήματα της ιστοσελίδας. Ακόμη, διερευνούμε τις περιπτώσεις κατάχρησής της. Επίσης, χρησιμοποιούμε κάποιες υπηρεσίες ανάλυσης των στατιστικών του διαδικτύου για να σας δώσουμε μία γεύση της επισκεψιμότητας της ιστοσελίδας μας.</p>
            <p>Και πάλι, αν ανησυχείτε για την καταγραφή των προσωπικών σας δεδομένων, μπορείτε να επιλέξετε να συνδεθείτε μέσω μίας ανώνυμης υπηρεσίας περιήγησης, ώστε να κρύψετε την IP σας.</p>
            <br>
            <h2>Δε γίνεται πώληση των πληροφοριών σας:</h2>
            <p>Οι προσωπικές σας πληροφορίες που συλλέγονται μέσω αυτής της ιστοσελίδας, πχ η διεύθυνση ηλεκτρονικού ταχυδρομείου δεν πωλούνται.</p>
            <br>
            <h2>Ασφάλεια των προσωπικών σας πληροφοριών:</h2>
            <p>Δεν εγγυόμαστε την ασφάλεια των πληροφοριών που μας παρέχετε.</p>



                 
	 </div><!--/container-->		
 </div><!--/body-->

 <!--=== Footer ===-->
 <div class="footer">
     <div class="container">

         <div class="row-fluid">

            <div class="span4">
                 <div class="headline"><h3>Πληροφορίες </h3></div>   
                 <ul class="unstyled">
                     <li><a href="/aboutus">Ποιοί Είμαστε;</a></li>
                     <li><a href="/applications">Εφαρμογές για ανοιχτά δεδομένα</a></li>
                     <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                     <li><a href="/opendata">Ανοιχτά Δεδομένα</a></li>
                     <li><a href="/statistics">Στατιστικά</a></li>
                 </ul>
             </div><!--/span4-->
             <div class="span4">      
                 <!-- Newsletter -->
                 <div class="headline"><h3>Newsletter </h3></div>   
                 <p>Κάντε εγγραφή στο Newsletter και μάθετε πρώτοι τα νέα μας </p>
                 <form action="/newsletter" method="post" class="form-inline" />
                     <div class="input-append">
                         <input type="email" placeholder="Email Address" class="span8 border-radius-none" name="email" />
                         <button class="btn-u">Εγγραφή </button>
                     </div>
                 </form>                            
             </div>

             <div class="span4">
                 <ul class="unstyled">
                    <li><a href="http://gr.okfn.org"><img src="./assets/img/okflogo.png"/></a></li>
                     <li><p>An Open Knowledge Foundation Greece project.</p></li>
                     <li><p>© 2013 want2know</li>
                     <li><!-- Open Knowledge Link -->
                        <a href="http://opendefinition.org/">
                        <img alt="This material is Open Knowledge" border="0"
                        src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" /></a>
                        <!-- /Open Knowledge Link --><!-- Open Content Link -->
<a href="http://opendefinition.org/">
  <img alt="This material is Open Content" border="0"
  src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" />
</a>
<!-- /Open Content Link -->
</li>

                 </ul>
             </div><!--/span4-->
         </div><!--/row-fluid-->    

     </div><!--/container-->    
 </div><!--/footer-->   

 <!--=== copyright ===-->
 <div class="copyright">
     <div class="container">

         <div class="row-fluid">
             <div class="span8">                        
                 <p>2013 &copy; want2know <a href="/privacy">Privacy Policy </a> |  <a href="/termsofuse">Terms of use </a></p>
             </div>
             
         </div><!--/row-fluid-->

     </div><!--/container-->    
 </div><!--/copyright-->       

 <!-- JS and jQuery -->         
  <script type="text/javascript" src="./assets/js/jquery-1.8.2.min.js"></script>
 <script type="text/javascript" src="./assets/bootstrap/js/bootstrap.min.js"></script> 
 <!--[if lt IE 9]>
    <script src="./assets/js/respond.js"></script>
<![endif]-->        
     
 </body>
 </html>     