<!DOCTYPE html>
 <!--[if IE 7]> <html lang="en" class="ie7"> </html><![endif]-->  
 <!--[if IE 8]> <html lang="en" class="ie8"> </html><![endif]-->  
 <!--[if IE 9]> <html lang="en" class="ie9"> </html><![endif]-->  
 <!--[if !IE]><!-->  <html lang="en">  <!--<![endif]-->  
 <head>
     <title>Θέλω να ξέρω</title>

     <!-- Meta -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <!-- CSS -->
     <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="../assets/css/style.css" />
     <link rel="stylesheet" href="../assets/css/menu/style-menu.css" />
     <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-responsive.min.css" />
     <link rel="stylesheet" href="../assets/css/style_responsive.css" />
     <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../assets/wysihtml5/src/bootstrap-wysihtml5.css"></link>
    <link rel="stylesheet" href="../assets/css/votestyle.css" />
         <link rel="stylesheet" href="../assets/css/votenumber.css" />

    

     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


     <meta property="og:title" content="{{question.title}}"/>
     <meta property="og:image" content="http://want2know.okfn.gr/assets/img/logofb.gif"/>
     <meta property="og:description" content="{{question.text}}" />

     <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "c5dffe4d-eef3-40a4-a6e2-5cb511320518", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>   

 <body>
 <!--=== Top ===-->    
<div id="top">
     <div class="container">            
        {% if user %}
            <ul class="inline pull-right">
                <li>{{user.username}},</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}
            <ul id="loginbar" class="pull-right">  
                <li class="devider">&nbsp; </li>
                <li><a href="/registration" class="login-btn">Εγγραφή </a></li>    
                <li class="devider">&nbsp; </li>
                <li><a href="/login" class="login-btn">Είσοδος </a></li>   
            </ul>
        {% endif %}
     </div>     
 </div><!--/top-->

 <!--=== Header ===-->
 <div id="header">              
     <div class="container">    
         <!-- Logo -->      
         <div id="logo">                                                
             <a href="/"><img src="../assets/img/logo.jpg" alt="Logo" /></a>
         </div><!-- /logo -->       
                                    
         <!-- Menu -->      
         <div class="navbar">                               
             <div class="navbar-inner">                                 
                 <ul class="nav top-2">
                     <li><a href="/">Αρχική</a></li>
                     <li><a href="/questions">Ερωτήσεις</a></li>
                     <li><a href="/applications">Εφαρμογές</a></li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Πληροφορίες<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/aboutus">Ποιοι είμαστε;</a></li>
                            <li><a href="/opendata">Ανοιχτά δεδομένα</a></li>
                            <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                            <li><a href="/statistics">Στατιστικά</a></li>
                        </ul>
                        <b class="caret-out"></b>
                     </li>
                    <li><a href="/contact">Επικοινωνία</a></li>
                 </ul>
             </div><!-- /navbar-inner -->
         </div><!-- /navbar -->                         

     </div><!-- /container -->              
 </div><!-- /header -->     

 <!--=== Content part ===-->
 <div id="body">
     <div class="breadcrumbs margin-bottom-50">
         <div class="container">
             
             <p><button onclick="window.location.href='/askaquestion'" class="btn-u-large pull-right">Κάνε ερώτηση </button></p>          
             
             
         </div><!--/container-->
     </div><!--/breadcrumbs-->

	 <div class="container">
         <div class="row">
            
            <form action="/searchquestion" method="post" class="form-inline pull-right">
                <div class="input-append pull-right">
                    <input type="text" required name="keyword" class="span3" />
                    <button type="submit" name = "findquestionbutton" value="active" class="btn-u"><i class="icon-search"></i> Ψάξε </button>
                </div>
            </form>
            
        </div>


        <div class="span5">{{error|safe}}</div>
		 <div class="row">
             <div class="span9">

                <div class="row box">
                    <h3>{{question.title}}</h3>
                    <hr>
                    <form method="POST"/>
                        <div class="span1" style="float:left; width:56px">
                            <div>
                                <input title="Voting is only available to some users" name="voteup" type="submit" value=" " class="qa-vote-first-button" /> 
                            </div>
                            <div class="qa-vote-count">
                                <span class="qa-netvote-count">
                                    <span class="qa-netvote-count-data">{{question.votes}}</span><span> votes </span>
                                </span>
                            </div>
                            <div>
                                <input title="Voting is only available to some users" name="votedown" type="submit" value=" " class="qa-vote-second-button" /> 
                            </div> 
                        </div>
                    </form>



                    <div class="span7">
                        <p>{{question.text|safe}}</p>
                    
                        <p>Κατηγορία: 
                            {% for tag in question.tags %}
                                <a href="/category/{{tag}}"><span class="label label-success">{{tag}}</span></a>  
                            {% endfor %}
                            | <i class="icon-calendar color-green"></i> {{question.date}}
                            | <i class="icon-user color-green"></i> Από: {{question.author}}
                            
                            
                        </p>

                    </div>
                    {% if user.username == question.author %}
                                 <form method = "post">
                                    <input type="submit" name="deletequestion" value="Διαγραφή ερώτησης" class="btn-u"></input>
                                </form>
                    {% endif %}
                    
                </div>
                <div class="row box">
                    <h4>Share this:</h4>
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                    <span class='st_twitter_hcount' displayText='Tweet' st_via=''></span>
                    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
                    <span class='st_email_hcount' displayText='Email'></span>
                    <span class='st_googleplus_hcount' displayText='Google +'></span></div>
                
                <div class="headline"><h3>{{numanswers}} Απαντήσεις:</h3></div>
               {% for answer in answers %}
                    <div class="row box">

                        <div class="span1">
                           <div class="questionnumber"><p style="padding-top:10px"><a href="#" data-toggle="tooltip" title="{{answer.censuslist|safe}}">{{answer.censusscore}}/6</a></p></div>
                        </div>
                        <div class="span userimg"><img src="../assets/img/default_user.png"></div>    
                        <div class="span6">
                            <p>{{answer.text|safe}}</p>
                            {% if answer.url %}
                                <p>Τα δεδομένα βρίσκονται <a href="{{answer.url}}">{{answer.url}}</a></p>
                            {% endif %}
                            <div class="span6 pull-right">
                             <i class="icon-calendar color-green"></i> {{answer.date}}
                            | <span><i class="icon-user color-green"></i> Από: {{answer.author}}  </span>
                            </div>
                            {% if answer.stars %}
                                Αστέρια: 
                                    {% for i in range(answer.stars) %}
                                       <i class="icon-star color-green"></i>
                                    {% endfor %}
                                    {% for i in range(5-answer.stars) %}
                                        <i class="icon-star-empty color-green"></i>
                                    {% endfor %} 
                                    Μάθε περισσότερα για τα αστέρια <a href="http://www.greek-lod.gr/5star/" target="_blank">εδώ</a>
                        {% endif %}
                        
                        </div>
                       
                    </div>
                    
                    <br>
                {% endfor %}
                    <div class="row box">
                        <div class="span2">
                            <a href="http://opendatahub.gr" target="_blank"><img src="../assets/img/opendatahub.png"></a>
                        </div>
                        <div class="span1"></div>
                        <div class="span6"><p>Μη ξεχνάτε να δηλώνετε τα πακέτα δεδομένων στο μητρώο της ελληνικής πύλης ανοικτών δεδομένων <a href="http://opendatahub.gr"  target="_blank">opendatahub.gr</a></p>
                        </div>
                    </div>
                {% if user %}
                    <form method="post" class="span7">
                        <label><h3>Απάντηση</h3></label>

                    Υπάρχουν τα δεδομένα;
                    <input type="checkbox" name="censuslist" value="0"><br>
                    Είναι σε ψηφιακή μορφή;
                    <input type="checkbox" name="censuslist" value="1"><br>
                    Είναι αναγνώσιμα από υπολογιστή (π.χ. excel και όχι pdf)
                    <input type="checkbox" name="censuslist" value="2"><br>
                    Είναι εύκολα διαθέσιμα;
                    <input type="checkbox" name="censuslist" value="3"><br>
                    Είναι δωρεάν;
                    <input type="checkbox" name="censuslist" value="4"><br>
                    Έχουν ανοιχτή άδεια; (ως προς το opendefinition.org)
                    <input type="checkbox" name="censuslist" value="5"><br>
                    Είναι ανανεωμένα;
                    <input type="checkbox" name="censuslist" value="6"><br><br>
                    <input name="url" type="text" placeholder = "Το URL, αν υπάρχει"></input>

                    <br>
                        <textarea id="textarea" name="answer" class="input-xlarge span7" rows="5"></textarea>
                        <button type="submit" name="answerbutton" value="answerbutton" class="btn-u-large pull-right">Απάντηση</button>
                    </form>
                {% else %}
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times; </button>
                        <strong>Προσοχή! </strong> Για να δώσεις απάντηση στην ερώτηση, θα πρέπει να κάνεις εγγραφή στο site.
                    </div>
                {% endif %} 
			 </div><!--/span9-->
            
			 <div class="span3">
                 
                 <!-- Contacts -->
                 <div class="box text-center"><div class="headline"><a href="/questions"><h3>Ερωτήσεις: {{allquestions}}</h3></a></div><div class="headline"><h3>Απαντήσεις: {{allanswers}}</h3></div><div class="headline"><h3>Χρήστες: {{allusers}}</h3></div> </div>
                 <div class="box text-center"><h4>Μάθετε περισσότερα για τα ανοιχτά δεδομένα</h4><button type="submit" onclick=window.location.href="/opendata" class="btn-u"><i class="icon-cloud"></i> Ανοιχτά δεδομένα </button></div>
                 <div class="box text-center"><div class="headline"><h3>Κατηγορίες: </h3></div>
                 {% for tag in tags %}
                    <ul class="unstyled">
                        <li><a href="/category/{{tag}}"><span class="label label-success">{{tag}}</span></a> x {{tags[tag]}}</li>
                    </ul>
                 {% endfor %}
                </div>

             </div><!--/span3-->
            		
         </div><!--/row-fluid-->
	 </div><!--/container-->		
 </div><!--/body-->

 <!--=== Footer ===-->
 <div class="footer">
     <div class="container">

         <div class="row-fluid">

            <div class="span4">
                 <div class="headline"><h3>Πληροφορίες </h3></div>   
                 <ul class="unstyled">
                     <li><a href="/aboutus">Ποιοί Είμαστε;</a></li>
                     <li><a href="/applications">Εφαρμογές για ανοιχτά δεδομένα</a></li>
                     <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                     <li><a href="/opendata">Ανοιχτά Δεδομένα</a></li>
                     <li><a href="/statistics">Στατιστικά</a></li>
                 </ul>
             </div><!--/span4-->
             <div class="span4">      
                 <!-- Newsletter -->
                 <div class="headline"><h3>Newsletter </h3></div>   
                 <p>Κάντε εγγραφή στο Newsletter και μάθετε πρώτοι τα νέα μας </p>
                 <form action="/newsletter" method="post" class="form-inline" />
                     <div class="input-append">
                         <input type="email" placeholder="Email Address" class="span8 border-radius-none" name="email" />
                         <button class="btn-u">Εγγραφή </button>
                     </div>
                 </form>                            
             </div>

             <div class="span4">
                 <ul class="unstyled">
                    <li><a href="http://http://gr.okfn.org"><img src="../assets/img/okflogo.png"/></a></li>
                     <li><p>An Open Knowledge Foundation Greece project.</p></li>
                     <li><p>© 2013 want2know</li>
                     <li><!-- Open Knowledge Link -->
                        <a href="http://opendefinition.org/">
                        <img alt="This material is Open Knowledge" border="0"
                        src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" /></a>
                        <!-- /Open Knowledge Link --><!-- Open Content Link -->
<a href="http://opendefinition.org/">
  <img alt="This material is Open Content" border="0"
  src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" />
</a>
<!-- /Open Content Link -->
</li>

                 </ul>
             </div><!--/span4-->
         </div><!--/row-fluid-->    

     </div><!--/container-->    
 </div><!--/footer-->   

 <!--=== copyright ===-->
 <div class="copyright">
     <div class="container">

         <div class="row-fluid">
             <div class="span8">                        
                <p>2013 &copy; want2know <a href="/privacy">Privacy Policy </a> |  <a href="/termsofuse">Terms of use </a></p>             
             </div>
             
         </div><!--/row-fluid-->

     </div><!--/container-->    
 </div><!--/copyright-->

 <!-- JS and jQuery -->         
 <script type="text/javascript" src="../assets/js/jquery-1.8.2.min.js"></script>
 <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script> 
 <script src="../assets/js/bootstrap-tooltip.js"></script>
 <script src="../assets/wysihtml5/src/wysihtml5-0.3.0.js"></script>
<script src="../assets/wysihtml5/src/bootstrap-wysihtml5.js"></script>
    <script>
        $('#textarea').wysihtml5({
    "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": false, //Button to insert an image. Default true,
    "color": false //Button to change color of font  
});
    </script>
                <script type="text/javascript">
              $(document).ready(function () {
                $("a").tooltip({
                  'selector': '',
                  'placement': 'top',
                  "html" : true
                });
              });
    </script>

 <!--[if lt IE 9]>
    <script src="../assets/js/respond.js"></script>
<![endif]-->        
 


 </body>
 </html>     