<!DOCTYPE html>
 <!--[if IE 7]> <html lang="en" class="ie7"> </html><![endif]-->  
 <!--[if IE 8]> <html lang="en" class="ie8"> </html><![endif]-->  
 <!--[if IE 9]> <html lang="en" class="ie9"> </html><![endif]-->  
 <!--[if !IE]><!-->  <html lang="en">  <!--<![endif]-->  
 <head>
     <title>Θέλω να ξέρω</title>

     <!-- Meta -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="description" content="" />

     <!-- CSS -->
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="./assets/css/style.css" />
     <link rel="stylesheet" href="./assets/css/menu/style-menu.css" />
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-responsive.min.css" />
     <link rel="stylesheet" href="./assets/css/style_responsive.css" />
     <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>   

 <body>
 <!--=== Top ===-->    
 <div id="top">
     <div class="container">            
        {% if user %}
            <ul class="inline pull-right">
                <li>{{user.username}},</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}
            <ul id="loginbar" class="pull-right">  
                <li class="devider">&nbsp; </li>
                <li><a href="/registration" class="login-btn">Εγγραφή </a></li>    
                <li class="devider">&nbsp; </li>
                <li><a href="/login" class="login-btn">Είσοδος </a></li>   
            </ul>
        {% endif %}
     </div>     
 </div><!--/top-->

 <!--=== Header ===-->
 <div id="header">              
     <div class="container">    
         <!-- Logo -->      
         <div id="logo">                                                
             <a href="/"><img src="./assets/img/logo.jpg" alt="Logo" /></a>
         </div><!-- /logo -->       
                                    
         <!-- Menu -->      
         <div class="navbar">                               
             <div class="navbar-inner">                                 
                 <ul class="nav top-2">
                     <li><a href="/">Αρχική</a></li>
                     <li><a href="/questions">Ερωτήσεις</a></li>
                     <li><a href="/applications">Εφαρμογές</a></li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Πληροφορίες<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/aboutus">Ποιοι είμαστε;</a></li>
                            <li><a href="/opendata">Ανοιχτά δεδομένα</a></li>
                            <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                            <li><a href="/statistics">Στατιστικά</a></li>
                        </ul>
                        <b class="caret-out"></b>
                     </li>
                    <li><a href="/contact">Επικοινωνία</a></li>
                 </ul>
             </div><!-- /navbar-inner -->
         </div><!-- /navbar -->                         

     </div><!-- /container -->              
 </div><!-- /header -->     

 <!--=== Content part ===-->
 <div id="body">
     <div class="breadcrumbs margin-bottom-50">
         <div class="container">
             
             <p><button onclick="window.location.href='/askaquestion'" class="btn-u-large pull-right">Κάνε ερώτηση </button></p>          
             
             
         </div><!--/container-->
     </div><!--/breadcrumbs-->

	 <div class="container">
            <h1>Όροι χρήσης</h1>		
            <h2>Εισαγωγή</h2>
            <p>Καλώς ήρθατε στο «Θέλω να Ξέρω». Παρακάτω σας παραθέτουμε τους γενικούς όρους και τις προϋποθέσεις υπό τις οποίες παρέχουμε τις υπηρεσίες μας. Παρακαλούμε διαβάστε προσεκτικά αυτούς τους όρους πριν να συμφωνήσετε στη χρήση των υπηρεσιών μας.</p>
            <br>
            <p>Χρησιμοποιούμε τα προσωπικά σας δεδομένα σύμφωνα με την πολιτική προστασίας των προσωπικών δεδομένων. Οπότε εάν ανησυχείτε για το απόρρητο των προσωπικών σας δεδομένων, καλείστε να διαβάσετε εκείνο το κομμάτι πριν χρησιμοποιήσετε οποιαδήποτε υπηρεσία μας.</p>
            <h2>Όροι για τη χρήση των διαδικτυακών υπηρεσιών μας</h2> 
            <p>Όλες οι υπηρεσίες μας παρέχονται δωρεάν και αν και προσπαθούμε πολύ για να είναι αξιόπιστες και χρήσιμες, δεν μπορούμε να εγγυηθούμε τίποτα γι’ αυτές.</p>
            <p>Η σελίδα μας είναι διαθέσιμη 24 ώρες το εικοσιτετράωρο ,αλλά ζητούμε την κατανόησή σας σε περίπτωση που θα διακοπεί για ένα εύλογο χρονικό διάστημα λόγω συντήρησης ή επισκευής.</p>
            <p>Ακόμη, σας ενημερώνουμε ότι έχουμε κάθε δικαίωμα προσωρινής ή μόνιμης διακοπής κάποιας από τις υπηρεσίες μας οποτεδήποτε και για οποιονδήποτε λόγο.</p>
            <p>Παρακαλούμε να αντιμετωπίζετε με σεβασμό την κοινότητά μας και τις υπηρεσίες μας. Τα spam, οι προσωπικές επιθέσεις και οι υβριστικές εκφράσεις δεν επιτρέπονται στη σελίδα μας. Σε περίπτωση που αντιληφθείτε κάτι τέτοιο παρακαλώ ενημερώστε μας.</p>
            <p>Με την εγγραφή σας στην κοινότητά μας συμφωνείτε να μην κάνετε τίποτα παράνομο, να μην ενοχλείτε τους υπόλοιπους χρήστες με οποιονδήποτε τρόπο, να μην παρεμποδίζετε την ομαλή λειτουργία των υπηρεσιών μας και τέλος, να μην προσπαθήσετε να αποκτήσετε πρόσβαση στο σύστημα με παράνομους τρόπους και κυρίως να μη χρησιμοποιείτε προγράμματα ανίχνευσης ιστού που δε σέβονται την πολιτική αυτής της ιστοσελίδας.</p>
            <br>
            <h2>Λογαριασμοί</h2>
            <p>Για την παροχή ορισμένων υπηρεσιών μας είναι απαραίτητη η εγγραφή  σας στη σελίδα, δηλαδή η δημιουργία κάποιου λογαριασμού. </p>
            <br>
            <h2>Κανόνες για τους λογαριασμούς μας</h2>
            <p>Θα πρέπει να είστε ανθρώπινο ον και τουλάχιστον 13 ετών. Θα πρέπει να δώσετε τα πραγματικά προσωπικά σας στοιχεία και μια έγκυρη διεύθυνση e-mail. Αν χρειαστεί να επικοινωνήσουμε μαζί σας, αλλά δε μπορέσουμε, για παράδειγμα, επειδή το e-mail σας δεν είναι έγκυρο, τότε είναι δική σας ευθύνη κάθε συνέπεια της αποτυχίας αυτής.</p>
            <p>Δεν πρέπει να αφήσετε κανέναν άλλο να χρησιμοποιήσει το λογαριασμό σας, δηλαδή αν για παράδειγμα ένας εργοδότης απαιτεί το όνομα χρήστη και τον κωδικό πρόσβασης σας, θα πρέπει να τον ενημερώσετε ότι δε θα έχουν κανένα δικαίωμα να χρησιμοποιήσουν τις υπηρεσίες μας.</p>
            <p>Στην περίπτωση μη εξουσιοδοτημένης χρήσης του λογαριασμού σας θα πρέπει να μας ενημερώσετε το συντομότερο δυνατό. Εάν ένας λογαριασμός συνδέεται με μια προπληρωμένη υπηρεσία , θα μπορεί να τερματιστεί η υπηρεσία αυτή ανά πάσα στιγμή, όπως και επίσης θα μπορείτε να κλείσετε το λογαριασμό σας ανά πάσα στιγμή.</p>
            <br>
            <h2>Μέλη της Κοινότητας</h2>
            <p>Με την εγγραφή σας ως μέλος της κοινότητας μας θα σας αναγνωρίζεται η σύνδεση σε μας. Υπάρχουν κανόνες για τα μέλη της κοινότητας μας, τους οποίους μπορούμε να δημοσιεύσουμε και να σας τους στείλουμε με μηνύμα ηλεκτρονικού ταχυδρομείου.</p>
            <br>
            <h2>Περιεχόμενο και πνευματική ιδιοκτησία</h2>
            <p>Αν σχολιάζετε σε κάποιο blog ή αποστέλλεται δεδομένα, δηλαδή συμμετέχετε σε οποιαδήποτε από τις υπηρεσίες μας, κατά γενικό κανόνα συμφωνείτε στη χρήση του περιεχομένου από εμάς.</p>
            <br>
            <h2>Ευθύνη</h2>
            <p>Εάν παραβιάσετε οποιαδήποτε από τις υποχρεώσεις σας βάσει της παρούσας συμφωνίας και, ως εκ τούτου, μας κάνει μήνυση οποιονδήποτε άλλος, θα πρέπει να μας αποζημιώσετε για οποιαδήποτε ζημία που έχουμε υποστεί το οποίο περιλαμβάνει όλα τα έξοδα που χρειάστηκαν, όπως η καταβολή των δικηγόρων.</p>
            <br>
            <h2>Εξαίρεση – τι δεν σας χρωστάμε</h2>
            <p>Περιορίζουμε την ευθύνη μας με διάφορους τρόπους, οι οποίοι πιστεύουμε ότι είναι δίκαιοι. Στην περίπτωση που ένας από αυτούς κριθεί ανεφάρμοστος από το δικαστήριο, κάθε ένας από τους ακόλουθους περιορισμούς ευθύνης είναι ξεχωριστός και η ευθύνη μας σε σας περιορίζεται από όλους αυτούς.</p>
            <p>Δεν ευθυνόμαστε για οποιαδήποτε ζημιά η οποία δεν μπορούσε να προβλεφθεί στο χρόνο που κάναμε τη συμφωνία.</p>
            <p>Οποιαδήποτε ευθύνη σε σας περιορίζεται από το ποσό που έχετε πληρώσει σε μας για μια υπηρεσία, δηλαδή: η ευθύνη μας είναι μηδενική για μια δωρεάν υπηρεσία, στις κατά διαστήματα πληρωμές σας η ευθύνη μας περιορίζεται στην αξία της τελευταίας πληρωμής που πληρώσατε.</p>
            <p>Δεν είμαστε υπεύθυνοι για οποιαδήποτε απώλεια, η οποία είναι έμμεση ή οφειλώμενη και αυτό περιλαμβάνει οποιαδήποτε απώλεια της επιχείρησης ή του κέρδους.</p>
            <br>
            <h2>Γενικοί όροι</h2>
            <p>Μπορούμε να ανανεώσουμε τους όρους και τις συνθήκες οποιαδήποτε στιγμή και θα ανακοινώσουμε την αλλαγή στην ιστοσελίδα μας. Οποιεσδήποτε αλλαγές είναι δεσμευτικές για εσάς από τη στιγμή που τις ανακοινώνουμε.</p>



                 
	 </div><!--/container-->		
 </div><!--/body-->

 <!--=== Footer ===-->
 <div class="footer">
     <div class="container">

         <div class="row-fluid">

            <div class="span4">
                 <div class="headline"><h3>Πληροφορίες </h3></div>   
                 <ul class="unstyled">
                     <li><a href="/aboutus">Ποιοί Είμαστε;</a></li>
                     <li><a href="/applications">Εφαρμογές για ανοιχτά δεδομένα</a></li>
                     <li><a href="/faq">Συχνές ερωτήσεις</a></li>
                     <li><a href="/opendata">Ανοιχτά Δεδομένα</a></li>
                     <li><a href="/statistics">Στατιστικά</a></li>
                 </ul>
             </div><!--/span4-->
             <div class="span4">      
                 <!-- Newsletter -->
                 <div class="headline"><h3>Newsletter </h3></div>   
                 <p>Κάντε εγγραφή στο Newsletter και μάθετε πρώτοι τα νέα μας </p>
                 <form action="/newsletter" method="post" class="form-inline" />
                     <div class="input-append">
                         <input type="email" placeholder="Email Address" class="span8 border-radius-none" name="email" />
                         <button class="btn-u">Εγγραφή </button>
                     </div>
                 </form>                            
             </div>

             <div class="span4">
                 <ul class="unstyled">
                    <li><a href="http://gr.okfn.org"><img src="./assets/img/okflogo.png"/></a></li>
                     <li><p>An Open Knowledge Foundation Greece project.</p></li>
                     <li><p>© 2013 want2know</li>
                     <li><!-- Open Knowledge Link -->
                        <a href="http://opendefinition.org/">
                        <img alt="This material is Open Knowledge" border="0"
                        src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" /></a>
                        <!-- /Open Knowledge Link --><!-- Open Content Link -->
<a href="http://opendefinition.org/">
  <img alt="This material is Open Content" border="0"
  src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" />
</a>
<!-- /Open Content Link -->
</li>

                 </ul>
             </div><!--/span4-->
         </div><!--/row-fluid-->    

     </div><!--/container-->    
 </div><!--/footer-->   

 <!--=== copyright ===-->
 <div class="copyright">
     <div class="container">

         <div class="row-fluid">
             <div class="span8">                        
                 <p>2013 &copy; want2know <a href="/privacy">Privacy Policy </a> |  <a href="/termsofuse">Terms of use </a></p>
             </div>
             
         </div><!--/row-fluid-->

     </div><!--/container-->    
 </div><!--/copyright-->       

 <!-- JS and jQuery -->         
  <script type="text/javascript" src="./assets/js/jquery-1.8.2.min.js"></script>
 <script type="text/javascript" src="./assets/bootstrap/js/bootstrap.min.js"></script> 
 <!--[if lt IE 9]>
    <script src="./assets/js/respond.js"></script>
<![endif]-->        
     
 </body>
 </html>     